/* RESET */
* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}




/* GENERAL */

img {
    width: 100%
}

.my-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-container {
    width: 100%;
    height: 70px;
    background-color: #0084FD;
    margin: 0 auto;
}


/* HEADER */

.header-logo {
    width: 70px;
}

.header-nav-container nav {
    display: none;
}

.header-nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 0px
}

.hamburger-menu {
    display: block;
}








/* MAIN */

.cards-info-container {
    background-color: #b5ddff;
    padding: 35px 25px 0px;
    border-radius: 5%;
    margin-bottom: 20px;
}

.cards-info-container h2 {
    color: #0084FD;
}

.cards-info-container p {
    color: rgb(106, 106, 106);

}

.cards-info-container p,
.cards-info-container h2,
.cards-info-container i {
    margin-bottom: 30px;
}


.cards-info-container a {
    background-color: #0084FD;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 40%;
}

.special-cols-align {
    text-align: center;
    padding-bottom: 35px;
}

.special-cols-align i {
    font-size: 6em;
}

.lilac-section {
    background-color: #9792e4;
    padding: 20px;
}

.lilac-container {
    margin: 20px;
    padding: 20px;
    color: white;
}

.lilac-container h2 {
    margin: 50px 0px 30px;
}

.white-container {
    background-color: white;
    border-radius: 8%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.white-container h2,
.white-container img,
.white-container p,
.white-container i {
    margin-bottom: 20px;
}

.lilac-arrow {
    background-color: #9792e4;
    padding-top: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



/* FOOTER */








/* TABLET MEDIA QUERY */
@media screen and (min-width: 768px) {

    /* MAIN QUERY */

    .my-row {
        display: flex;
        flex-wrap: wrap;
    }

    .my-row > :first-child {
        width: calc(( 100% / 3 ) * 2 - 40px );
    }

    .cards-info-container {
        width: calc(( 100% / 3 ) - 40px );
        margin: 0 20px 20px;
    }

    .first-card {
        display: flex;
        justify-content: flex-end;
    }

    .special-img {
        margin-top: 80px;
    }


}






/* DESKTOP MEDIA QUERY */
@media screen and (min-width: 992px) {

    /* HEADER QUERY */

    .hamburger-menu {
        display: none;
    }

    .header-nav-container nav {
        display: block;
    }

    .header-nav-container li {
        display: inline-block;
        margin: 15px;
    }
    
    .header-nav-container a {
        display: inline-block;
        text-decoration: none;
        color: white;
    }
    
    #get-started-buttom {
        background-color: white;
        color: black;
        padding: 4px;
        border-radius: 10%;
    }
    
    /* MAIN QUERY */

    .lilac-section {
        display: flex;
        padding: 0px 90px;
    }

    .ilac-container {
        width: 60%;
    }

    .white-container {
        width: 40%;
        align-self: flex-end;
    }

    /* FOOTER QUERY */

}







/* .my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -10px 50px;
}

.my-col {
    width: calc((100% /3) - 20px);
    margin: 10px;
    padding: 0 10px;
    background-color: rgb(134, 225, 255);
    border-radius: 5%;
}

.special-text-align {
    text-align: center;

}

.special-text-align i {
    margin-top: 15px;
    font-size: 6em;
}

.big-col {
    width: calc((100% /3) * 2 - 20px );
    display: flex;
}

.my-col h2 {
    color: #0084FD;
    margin: 20px;
}

p {
    margin: 20px 0;
}

.blue-buttons {
    background-color: #0084FD;
    text-decoration: none;
    padding: 8px;
    border-radius: 40%;
}

.lilac-section {
    width: 100%;
    background-color: rgb(208, 158, 255);
}

.my-row-lilac {
    display: flex;
    flex-wrap: wrap;
}

.my-col-lilac {
    width: calc(( 100% / 2 ) - 40px );
    margin: 20px;
}

.lilac-container div {
    margin-bottom: 20px;
    color: white;
}

.white-container {
    width: 70%;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}

.white-container div {
    margin-bottom: 20px;
}

.white-container div i {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 50%;
}

.third-section-container {
    text-align: center;
}


.third-section-container div h2 {
    color: blueviolet;
}

.testimonials {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 5%;
    color: white;
}

.testimonials div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.testimonials div {
    margin-bottom: 20px;
} */